.header {
  position: relative;
  min-height: 98vh;
  width: 100%;
  padding: 0 2rem;
  background-image:
    linear-gradient(90deg, #380513c7),
    url("https://img.magnific.com/free-vector/restaurant-background-template_23-2147501815.jpg?semt=ais_test_b&w=740&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  clip-path: ellipse(100% 100% at 50% 0%);

  ///////////////////////////////
  /// HEADER NAV
  /// ////////////////////////////
  &-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    z-index: 1000;
  }

  ////////////////////////////////
  /// HEADER CONTENT
  ////////////////////////////////
  &-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    &-heading {
      font-family: var(--font-heading);
      font-size: 5rem;
      font-weight: 700;
      color: var(--color-grey--light-2);
    }
    &-text {
      font-size: 2rem;
      color: var(--color-grey--light-3);
      margin-top: 1rem;
    }
  }
}
