@import url("https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10/16
  box-sizing: border-box;

  @media (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-size: 1.7rem;
  font-family: lato, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-grey--light-4);
  min-height: 100vh;
  background-size: cover;
  background-repeat: none;
}
